body {
  font-family: 'Lexend', sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #ffcc00;
}

a {
  color: #66ccff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
